@tailwind base;
@tailwind components;
@tailwind utilities;

/* -------------------- Custom Styles -------------------- */
body {
  background: #485563; /* fallback */
  background: -webkit-linear-gradient(to right, #29323c, #485563);
  background: linear-gradient(to right, #29323c, #485563);
}

.portada {
  background-image: url("./assets/img/imgProgramacion.jpg");
  background-color: #cccccc; /* fallback */
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.botones {
  background: #0b486a;
  border: 1px solid #63edfb;
  font-size: 1.5em;
  color: white;
  box-shadow: 0 0 3px 2px #13ddda;
  border-radius: 0.5em;
  padding: 0.5rem;
}

.botones:hover {
  background: #0f6999e8;
}
